* {
  margin: 0;
  padding: 0;
}

body {
  padding: 1% 5%;
  margin: 0 auto;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-book{
  width: 100%;
}

.display-book-container {
  height: 50vh;
  width: 100%;
  margin: 5% 0;
  overflow: scroll;
  border: 2px solid black;
}

.book-card {
  padding: 1% 1%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.book-card-grey {
  background: rgb(230, 227, 227);
}

.text-content {
  width: 60%;
  word-wrap: break-word;
}

.text-content > h4 {
  display: inline;
  font-size: 1.3em;
  font-weight: 400;
}

.button-remove {
  border: solid 2px black;
  border-radius: 2px;
  font-size: 1.2em;
  width: 20%;
  text-align: center;
}

.button-remove:hover {
  cursor: pointer;
  color: white;
  background-color: grey;
}

.add-book {
  text-align: center;
  width: 100%;
}

h2 {
  font-size: 2.3em;
  font-weight: 500;
  text-align: center;
}

#form-book-submit {
  margin: 5% auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 90%;
  margin: 2% 0;
  padding: 1% 1%;
  border: solid 2px black;
}

#button-submit {
  margin: 3%;
  padding: 1% 5%;
  align-self: flex-end;
  font-size: 1em;
  background: #fff;
  border: solid 2px black;
}

#button-submit:hover {
  cursor: pointer;
  color: white;
  background-color: grey;
}

header{
  width: 100%;
}

.navigation-bar{
  height: 5vh;
  margin: 5% auto;
  width: 100%;
  color: #fff;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 1%;
}

.navigation-logo{
  font-size: 1.2em;
  font-weight: 800;
}

.navigation-list{
  width: 50%;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.navigation-list-item > a{
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  body {
    width: 60%;
  }
}
